@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
/* Generales */
* {
  padding: 0;
  margin: 0;
}

.disclaimer {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #dbdbdb;
  color: #363130;
  font-family: "Libre Franklin", "Roboto", "sans-serif";
}

a {
  text-decoration: none;
  color: #363130;
}

a:hover {
  color: #363130;
}

li {
  list-style: none;
}

/* Header */
#header {
  background-color: #363130;
  box-shadow: 0px -2px 10px 3px rgba(0, 0, 0, 0.5);
}
#header a {
  color: #c0aa83;
  transition: all 0.7s;
}
#header a:hover {
  color: #ebebeb;
}

/* Footer */
.footer {
  margin-top: auto;
  background-color: #363130;
  color: #c0aa83;
}
.footer h3 {
  font-size: 1.5rem;
}
.footer a {
  color: #c0aa83;
  transition: all 0.7s;
}
.footer a:hover, .footer a:active {
  color: #ffffff;
}
.footer .division {
  width: 100%;
  border-top: 1.8px solid #c0aa83;
}
.footer .autor {
  background-color: #8a8787;
  font-size: 0.9rem;
}
.footer .autor .firma {
  color: #363130;
}
.footer .autor a {
  color: #363130;
}
.footer .autor a:hover, .footer .autor a:active {
  color: #ffffff;
}

/* Productos */
.banner {
  width: 100%;
  height: 50vh;
  margin-bottom: 80px;
  background-image: url("../../img/productos.webp");
  background-size: cover;
  background-position: center;
  box-shadow: 0px -2px 10px 3px rgba(0, 0, 0, 0.5);
}
.banner h1 {
  font-weight: 500;
  font-size: 3rem;
}

.tarjeta {
  width: 26rem;
  margin: 3rem;
}
.tarjeta img {
  width: 100%;
  border-radius: 3px;
  transition: all 1s;
  position: relative;
}
.tarjeta div {
  padding: 0 1.5rem;
  position: relative;
  bottom: 6rem;
  visibility: hidden;
  color: #ebebeb;
}
.tarjeta div a {
  font-size: 1.1rem;
  color: #ebebeb;
  visibility: visible;
}
.tarjeta:hover img {
  filter: brightness(60%);
}
.tarjeta:hover div {
  color: #ebebeb;
  visibility: visible;
  animation: fadeInUp;
  animation-duration: 1s;
}

@media (max-width: 572px) {
  .banner h1 {
    font-size: 2.4rem;
  }

  .tarjeta {
    margin: 0.5rem;
  }
}
/* Estilo para cada producto */
.body-cafe-standard {
  background-color: #dbdbdb;
  color: #363130;
}
.body-cafe-standard .img-bolsa {
  border-radius: 3px;
  box-shadow: 0px 0px 10px 1px rgba(43, 40, 40, 0.7725490196);
}

.body-cafe-black {
  background-color: #131010;
  color: #dbdbdb;
}
.body-cafe-black .img-bolsa {
  border-radius: 3px;
  box-shadow: 0px 0px 10px 1px rgba(124, 124, 124, 0.7725490196);
}

.section-cafe {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.img-bolsa {
  width: 30rem;
}

/* Secciones */
.carrousel {
  height: 60vh;
  object-fit: cover;
}

.section p {
  text-align: justify;
  line-height: 25px;
}

.section-div-img {
  padding: 7.5px;
  border-top: 2.5px solid black;
  border-left: 2.5px solid black;
  border-right: 2.5px solid #c0aa83;
  border-bottom: 2.5px solid #c0aa83;
}
.section-div-img img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 2.5px 10px 1.5px rgba(0, 0, 0, 0.7725490196);
}

.span-sorpresa a {
  color: #c0aa83;
  text-decoration: underline;
  transition: all 0.7s;
}
.span-sorpresa a:hover {
  color: #363130;
}

@media (max-width: 992px) {
  .section-row {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  .carrousel {
    height: 45vh;
  }
}
.section-form {
  background-color: #f0f0f0;
  box-shadow: 0 0px 20px 0 rgba(153, 153, 153, 0.25);
  padding-bottom: 1rem;
}

.carrousel-sorpresa {
  margin-top: 3rem;
}
.carrousel-sorpresa div div img {
  border-radius: 3px;
}

.textarea {
  min-height: 8rem;
  resize: none;
}

.form-envio {
  margin: 1rem auto;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 40rem;
  border-radius: 5px;
}

.form-div {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.form-label {
  color: #8a8787;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.form-input {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #b9b4b4;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.form-input:focus, .form-input:valid {
  outline: 0;
  border-bottom-color: #c0aa83;
}
.form-input:focus + .form-label, .form-input:valid + .form-label {
  color: #c0aa83;
  transform: translateY(-1.5rem);
}

.form-condiciones {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}
.form-condiciones a {
  display: block;
  color: #c0aa83;
  text-decoration: none;
  transition: 1s;
}
.form-condiciones a:hover {
  color: black;
}

.form-button {
  margin-top: 2rem;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #c0aa83;
  border-radius: 6px;
  color: #474d52;
  border: 0;
  transition: 0.4s;
}
.form-button:hover {
  background-color: #ac9a7b;
}
.form-button:active {
  background-color: #d3c1a1;
}

/* Estilo mapa  */
.mapa {
  margin: auto 0;
  height: 60vh;
}
.mapa iframe {
  box-shadow: 0 0px 20px 0 rgba(153, 153, 153, 0.25);
}

/*# sourceMappingURL=style.css.map */
