
$color-gris: #A6A6A6;
$color-marron: #644d3f;
$color-negro: #363130;
$color-blanco: #dbdbdb;
$color-medioblanco: #ebebeb;
$color-extrablanco: #ffffff;
$color-lightgris: #b9b4b4;
$color-darkgris: #8a8787;
$color-dorado:#c0aa83;


/* $color-gris: #A6A6A6;
$color-marron: #725645;
$color-negro: #2b2625;
$color-blanco: #F2F2F2;
$color-extrablanco: #ffffff;
$color-lightgris: #b9b4b4;
$color-darkgris: #867d7d; */