
$color-gris: #A6A6A6;
$color-marron: #644d3f;
$color-negronegro: #131010;
$color-negro: #363130;
$color-blanco: #dbdbdb;
$color-medioblanco: #ebebeb;
$color-extrablanco: #ffffff;
$color-lightgris: #b9b4b4;
$color-darkgris: #8a8787;
$color-dorado:#c0aa83;
$color-darkdorado: #ac9a7b;
$color-lightdorado: #d3c1a1;
