@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import '../base/colors';
@import '../base/mixins';

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: $color-marron;
}

a:hover {
    color: $color-marron;
}

li {
    list-style: none;
}

body {
    font-family: 'Libre Franklin', 'Roboto', 'sans-serif';
    background-color: $color-blanco;
    color: $color-marron;
}


.prueba {
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 300;
    position: absolute;
    text-align: center;
    color: $color-blanco;
    right: 40vw;
    padding-top: 500px;
    bottom: 20vh;
    z-index: 1010;
    --animate-duration: 5s;
    --animate-repeat: 1;
}

.prueba2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-blanco;
    text-align: center;
    width: 20rem;
    position: absolute;
    right: 40vw;
    bottom: 80px;
    z-index: 1010;
    animation-delay: 3s;
    --animate-duration: 5s;
}

/* .carrousel {
height: 100vh;
} */

.section {
    .section-div-img {
        padding: 7.5px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid brown;
        border-bottom: 2px solid brown;
        img {
            width: 100%;
            @include img(3px, 0px 2.5px 10px 1.5px #000000c5)
        }
    }
}

@media (max-width:992px) {
    .section-row {
        display: flex;
        flex-direction: column-reverse;
    }
}
