@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import '../base/colors';

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-marron;
}

body {
    font-family: 'Libre Franklin', 'Roboto', 'sans-serif'; 
    background-color: $color-blanco;
    color: $color-marron;
}