@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import '../base/colors';
@import '../base/mixins';

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-blanco;
    color: $color-negro;
    font-family: 'Libre Franklin', 'Roboto', 'sans-serif';
}

a {
    text-decoration: none;
    color: $color-negro;
}

a:hover {
    color: $color-negro;
}

li {
    list-style: none;
}

.header {
    background-color: $color-extrablanco;

    a {
        color: $color-negro;
    }

    a:hover {
        color: black;
    }
}

.carrousel {
    height: 60vh;
    object-fit: cover;
}

.section {
    p {
        text-align: justify;
        line-height: 25px;
    }
}

.section-div-img {
    padding: 7.5px;
    border-top: 2.5px solid black;
    border-left: 2.5px solid black;
    border-right: 2.5px solid $color-dorado;
    border-bottom: 2.5px solid $color-dorado;

    img {
        width: 100%;
        @include img(3px, 0px 2.5px 10px 1.5px #000000c5)
    }
}

.span-sorpresa {
    a {
        color: $color-dorado;
        text-decoration: underline;

        &:hover {
            color: $color-negro;
        }
    }
}

@media (max-width:992px) {
    .section-row {
        display: flex;
        flex-direction: column-reverse;
    }
}


/* .prueba {
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 300;
    position: absolute;
    text-align: center;
    color: $color-blanco;
    right: 40vw;
    bottom: 15vh;
    padding-top: 50px;
    z-index: 1010;
    --animate-duration: 5s;
    --animate-repeat: 1;
}

.prueba2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-blanco;
    text-align: center;
    width: 20rem;
    position: absolute;
    right: 40vw;
    bottom: 80px;
    z-index: 1010;
    animation-delay: 3s;
    --animate-duration: 5s;
} */