@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import '../base/colors';
@import '../base/mixins';

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-marron;
}

body {
    font-family: 'Libre Franklin', 'Roboto', 'sans-serif';
    background-color: $color-blanco;
    color: $color-marron;
} 

.prueba {
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 300;
    position: absolute;
    text-align: center;
    color: $color-blanco;
    right: 40vw;
    padding-top: 500px;
    bottom: 120px;
    z-index: 1010;
    --animate-duration: 5s;
    --animate-repeat: 1;
}

.prueba2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-blanco;
    text-align: center;
    width: 20rem;
    position: absolute;
    right: 40vw;
    bottom: 80px;
    z-index: 1010;
    animation-delay: 3s;
    --animate-duration: 5s;
}

.carrousel {
height: 100vh;
}

.beneficios__div1--img {
    @include img(3px, 0px 0px 10px 1px #6e6856c5)
}
