@import '../base/colors';
@import '../base/mixins';

/* Secciones */

.carrousel {
    height: 60vh;
    object-fit: cover;
}

.titulo {
    position: relative;
    z-index: 1;
    padding-top: 20px;
    color: $color-dorado;
    animation: fadeInDown;
    animation-duration: 3s;
    /* span {
        color: $color-negro;
    } */
}

.section {
    p {
        text-align: justify;
        line-height: 25px;
    }
}

.section-div-img {
    padding: 7.5px;
    border-top: 2.5px solid black;
    border-left: 2.5px solid black;
    border-right: 2.5px solid $color-dorado;
    border-bottom: 2.5px solid $color-dorado;

    img {
        width: 100%;
        @include img(3px, 0px 2.5px 10px 1.5px #000000c5)
    }
}

.span-sorpresa {
    a {
        color: $color-dorado;
        text-decoration: underline;
        transition: all .7s;

        &:hover {
            color: $color-negro;
        }
    }
}

@media (max-width:992px) {
    .section-row {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width:576px) {
    .carrousel {
        height: 45vh;
    }
}