@import '../base/mixins';
@import '../base/mapas';
@import '../base/colors';


.banner {
    width: 100%;
    height: 60vh;
    margin-bottom: 100px;

    background-image: url("../../img/productos2.png");
    background-size: cover;
    background-position: center;

    h1 {
        font-weight: 500;
        font-size: 40px;
    }
}

.body-cafe-standard {
    background-color: map-get($edicion-standard, bg-standard);
    color: map-get($edicion-standard, color-standard)
}

.body-cafe-black {
    background-color: map-get($edicion-black, bg-black);
    color: map-get($edicion-black, color-black);
}

.img-bolsa {
    @include img(3px, 0px 0px 10px 1px #6e6856c5);
}

.contenedor-tarjeta {
    margin: 0 3rem;
}

.tarjeta {
    width: 26rem;
    margin: 3rem;
    border-radius: 3px;

    img {
        width: 100%;
        border-radius: 3px;
        transition: all 1s;
        position: relative;
    }

    div {
        padding: 0 1.5rem;
        width: 25rem;
        position: relative;
        bottom: 6rem;
        visibility: hidden;
        color: $color-medioblanco;

        a {
            font-size: 1.1rem;
            color: $color-medioblanco;
            visibility: visible;
        }
    }

    &:hover {

        & img {
            filter: brightness(65%);
        }


        & div {
            color: $color-medioblanco;
            visibility: visible;
            animation: fadeInUp;
            animation-duration: 1s;
        }
    }
}

@media (max-width:992px) {
    .tarjeta {
        div {
            a {
                visibility: visible;
            }
        }
    }

}

@media (max-width:572px) {
    .contenedor-tarjeta {
        margin: 0;
    }

    .tarjeta {
        width: 20rem;
        margin: 0;

        img {
            width: 100%
        }

    }
}