@import '../base/mixins';
@import '../base/maps';
@import '../base/colors';

/* Productos */
.banner {
    width: 100%;
    height: 60vh;
    margin-bottom: 100px;
    background-image: url("../../img/productos2.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0px -2px 10px 3px rgba(0, 0, 0, 0.5);

    h1 {
        font-weight: 500;
        font-size: 3rem;
    }
}

.tarjeta {
    width: 26rem;
    margin: 3rem;

    img {
        width: 100%;
        border-radius: 3px;
        transition: all 1s;
        position: relative;
    }

    div {
        padding: 0 1.5rem;
        position: relative;
        bottom: 6rem;
        visibility: hidden;
        color: $color-medioblanco;

        a {
            font-size: 1.1rem;
            color: $color-medioblanco;
            visibility: visible;
        }
    }

    &:hover {

        & img {
            filter: brightness(60%);
        }

        & div {
            color: $color-medioblanco;
            visibility: visible;
            animation: fadeInUp;
            animation-duration: 1s;
        }
    }
}

@media (max-width:572px) {
    .banner {
        h1 {
            font-size: 2.4rem;
        }
    }

    .tarjeta {
        margin: .5rem;
    }
}

/* Estilo para cada producto */
.body-cafe-standard {
    background-color: map-get($edicion-standard, bg-standard);
    color: map-get($edicion-standard, color-standard);

    .img-bolsa {
        @include img(3px, 0px 0px 10px 1px #2b2828c5);
    }
}

.body-cafe-black {
    background-color: map-get($edicion-black, bg-black);
    color: map-get($edicion-black, color-black);

    .img-bolsa {
        @include img(3px, 0px 0px 10px 1px #7c7c7cc5);
    }
}

.section-cafe {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.img-bolsa {
    width: 30rem;
}