@import '../base/colors';

.section-sorpresa {
	background-color: #f3f3f3;
	border-radius: 5px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
}

.carrousel-sorpresa {
	margin-top: 3rem;

	div {
		div {
			img {
				border-radius: 3px;
			}
		}
	}
}

.form-envio {
	margin: 1rem auto;
	padding: 2rem 1rem;
	width: 100%;
	max-width: 40rem;
	background-color: #f3f3f3;
	border-radius: 5px;
}

.form-div {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 1.5rem;
	margin-top: 1.5rem;
}

.form-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.form-input {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee;
	font-size: 1.125rem;
	padding: .25rem 0;

	&:focus,
	&:valid {
		outline: 0;
		border-bottom-color: $color-dorado;

		&+.form-label {
			color: $color-dorado;
			transform: translateY(-1.5rem)
		}
	}
}

.form-condiciones {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;

	a {
		display: block;
		color: $color-dorado;
		text-decoration: none;
		transition: 1s;

		&:hover {
			color: black;
		}
	}
}

.form-button {
	margin-top: 2rem;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: $color-dorado;
	border-radius: 6px;
	color: #474d52;
	border: 0;

	&:focus {
		outline: 0;
	}
}